.title {
	position: relative;
	top: 60px;
	left: 40px;
	width: 220px;
	height: 50px;
}

.container {
	position: relative;
	top: 100px;
}

.display {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	bottom: 3rem;
	padding: 40px;
}

.container::-webkit-scrollbar {
	overflow: hidden;
}
